#custom-mediaplayer.perc0-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 0.0%,
    rgba(0,0,0,0) 0.1%
    );
}
#custom-mediaplayer.perc1-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 1.0%,
    rgba(0,0,0,0) 1.1%
    );
}
#custom-mediaplayer.perc2-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 2.0%,
    rgba(0,0,0,0) 2.1%
    );
}
#custom-mediaplayer.perc3-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 3.0%,
    rgba(0,0,0,0) 3.1%
    );
}
#custom-mediaplayer.perc4-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 4.0%,
    rgba(0,0,0,0) 4.1%
    );
}
#custom-mediaplayer.perc5-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 5.0%,
    rgba(0,0,0,0) 5.1%
    );
}
#custom-mediaplayer.perc6-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 6.0%,
    rgba(0,0,0,0) 6.1%
    );
}
#custom-mediaplayer.perc7-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 7.0%,
    rgba(0,0,0,0) 7.1%
    );
}
#custom-mediaplayer.perc8-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 8.0%,
    rgba(0,0,0,0) 8.1%
    );
}
#custom-mediaplayer.perc9-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 9.0%,
    rgba(0,0,0,0) 9.1%
    );
}
#custom-mediaplayer.perc10-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 10.0%,
    rgba(0,0,0,0) 10.1%
    );
}
#custom-mediaplayer.perc11-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 11.0%,
    rgba(0,0,0,0) 11.1%
    );
}
#custom-mediaplayer.perc12-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 12.0%,
    rgba(0,0,0,0) 12.1%
    );
}
#custom-mediaplayer.perc13-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 13.0%,
    rgba(0,0,0,0) 13.1%
    );
}
#custom-mediaplayer.perc14-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 14.0%,
    rgba(0,0,0,0) 14.1%
    );
}
#custom-mediaplayer.perc15-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 15.0%,
    rgba(0,0,0,0) 15.1%
    );
}
#custom-mediaplayer.perc16-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 16.0%,
    rgba(0,0,0,0) 16.1%
    );
}
#custom-mediaplayer.perc17-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 17.0%,
    rgba(0,0,0,0) 17.1%
    );
}
#custom-mediaplayer.perc18-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 18.0%,
    rgba(0,0,0,0) 18.1%
    );
}
#custom-mediaplayer.perc19-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 19.0%,
    rgba(0,0,0,0) 19.1%
    );
}
#custom-mediaplayer.perc20-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 20.0%,
    rgba(0,0,0,0) 20.1%
    );
}
#custom-mediaplayer.perc21-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 21.0%,
    rgba(0,0,0,0) 21.1%
    );
}
#custom-mediaplayer.perc22-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 22.0%,
    rgba(0,0,0,0) 22.1%
    );
}
#custom-mediaplayer.perc23-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 23.0%,
    rgba(0,0,0,0) 23.1%
    );
}
#custom-mediaplayer.perc24-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 24.0%,
    rgba(0,0,0,0) 24.1%
    );
}
#custom-mediaplayer.perc25-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 25.0%,
    rgba(0,0,0,0) 25.1%
    );
}
#custom-mediaplayer.perc26-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 26.0%,
    rgba(0,0,0,0) 26.1%
    );
}
#custom-mediaplayer.perc27-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 27.0%,
    rgba(0,0,0,0) 27.1%
    );
}
#custom-mediaplayer.perc28-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 28.0%,
    rgba(0,0,0,0) 28.1%
    );
}
#custom-mediaplayer.perc29-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 29.0%,
    rgba(0,0,0,0) 29.1%
    );
}
#custom-mediaplayer.perc30-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 30.0%,
    rgba(0,0,0,0) 30.1%
    );
}
#custom-mediaplayer.perc31-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 31.0%,
    rgba(0,0,0,0) 31.1%
    );
}
#custom-mediaplayer.perc32-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 32.0%,
    rgba(0,0,0,0) 32.1%
    );
}
#custom-mediaplayer.perc33-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 33.0%,
    rgba(0,0,0,0) 33.1%
    );
}
#custom-mediaplayer.perc34-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 34.0%,
    rgba(0,0,0,0) 34.1%
    );
}
#custom-mediaplayer.perc35-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 35.0%,
    rgba(0,0,0,0) 35.1%
    );
}
#custom-mediaplayer.perc36-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 36.0%,
    rgba(0,0,0,0) 36.1%
    );
}
#custom-mediaplayer.perc37-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 37.0%,
    rgba(0,0,0,0) 37.1%
    );
}
#custom-mediaplayer.perc38-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 38.0%,
    rgba(0,0,0,0) 38.1%
    );
}
#custom-mediaplayer.perc39-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 39.0%,
    rgba(0,0,0,0) 39.1%
    );
}
#custom-mediaplayer.perc40-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 40.0%,
    rgba(0,0,0,0) 40.1%
    );
}
#custom-mediaplayer.perc41-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 41.0%,
    rgba(0,0,0,0) 41.1%
    );
}
#custom-mediaplayer.perc42-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 42.0%,
    rgba(0,0,0,0) 42.1%
    );
}
#custom-mediaplayer.perc43-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 43.0%,
    rgba(0,0,0,0) 43.1%
    );
}
#custom-mediaplayer.perc44-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 44.0%,
    rgba(0,0,0,0) 44.1%
    );
}
#custom-mediaplayer.perc45-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 45.0%,
    rgba(0,0,0,0) 45.1%
    );
}
#custom-mediaplayer.perc46-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 46.0%,
    rgba(0,0,0,0) 46.1%
    );
}
#custom-mediaplayer.perc47-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 47.0%,
    rgba(0,0,0,0) 47.1%
    );
}
#custom-mediaplayer.perc48-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 48.0%,
    rgba(0,0,0,0) 48.1%
    );
}
#custom-mediaplayer.perc49-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 49.0%,
    rgba(0,0,0,0) 49.1%
    );
}
#custom-mediaplayer.perc50-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 50.0%,
    rgba(0,0,0,0) 50.1%
    );
}
#custom-mediaplayer.perc51-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 51.0%,
    rgba(0,0,0,0) 51.1%
    );
}
#custom-mediaplayer.perc52-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 52.0%,
    rgba(0,0,0,0) 52.1%
    );
}
#custom-mediaplayer.perc53-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 53.0%,
    rgba(0,0,0,0) 53.1%
    );
}
#custom-mediaplayer.perc54-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 54.0%,
    rgba(0,0,0,0) 54.1%
    );
}
#custom-mediaplayer.perc55-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 55.0%,
    rgba(0,0,0,0) 55.1%
    );
}
#custom-mediaplayer.perc56-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 56.0%,
    rgba(0,0,0,0) 56.1%
    );
}
#custom-mediaplayer.perc57-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 57.0%,
    rgba(0,0,0,0) 57.1%
    );
}
#custom-mediaplayer.perc58-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 58.0%,
    rgba(0,0,0,0) 58.1%
    );
}
#custom-mediaplayer.perc59-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 59.0%,
    rgba(0,0,0,0) 59.1%
    );
}
#custom-mediaplayer.perc60-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 60.0%,
    rgba(0,0,0,0) 60.1%
    );
}
#custom-mediaplayer.perc61-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 61.0%,
    rgba(0,0,0,0) 61.1%
    );
}
#custom-mediaplayer.perc62-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 62.0%,
    rgba(0,0,0,0) 62.1%
    );
}
#custom-mediaplayer.perc63-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 63.0%,
    rgba(0,0,0,0) 63.1%
    );
}
#custom-mediaplayer.perc64-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 64.0%,
    rgba(0,0,0,0) 64.1%
    );
}
#custom-mediaplayer.perc65-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 65.0%,
    rgba(0,0,0,0) 65.1%
    );
}
#custom-mediaplayer.perc66-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 66.0%,
    rgba(0,0,0,0) 66.1%
    );
}
#custom-mediaplayer.perc67-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 67.0%,
    rgba(0,0,0,0) 67.1%
    );
}
#custom-mediaplayer.perc68-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 68.0%,
    rgba(0,0,0,0) 68.1%
    );
}
#custom-mediaplayer.perc69-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 69.0%,
    rgba(0,0,0,0) 69.1%
    );
}
#custom-mediaplayer.perc70-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 70.0%,
    rgba(0,0,0,0) 70.1%
    );
}
#custom-mediaplayer.perc71-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 71.0%,
    rgba(0,0,0,0) 71.1%
    );
}
#custom-mediaplayer.perc72-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 72.0%,
    rgba(0,0,0,0) 72.1%
    );
}
#custom-mediaplayer.perc73-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 73.0%,
    rgba(0,0,0,0) 73.1%
    );
}
#custom-mediaplayer.perc74-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 74.0%,
    rgba(0,0,0,0) 74.1%
    );
}
#custom-mediaplayer.perc75-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 75.0%,
    rgba(0,0,0,0) 75.1%
    );
}
#custom-mediaplayer.perc76-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 76.0%,
    rgba(0,0,0,0) 76.1%
    );
}
#custom-mediaplayer.perc77-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 77.0%,
    rgba(0,0,0,0) 77.1%
    );
}
#custom-mediaplayer.perc78-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 78.0%,
    rgba(0,0,0,0) 78.1%
    );
}
#custom-mediaplayer.perc79-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 79.0%,
    rgba(0,0,0,0) 79.1%
    );
}
#custom-mediaplayer.perc80-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 80.0%,
    rgba(0,0,0,0) 80.1%
    );
}
#custom-mediaplayer.perc81-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 81.0%,
    rgba(0,0,0,0) 81.1%
    );
}
#custom-mediaplayer.perc82-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 82.0%,
    rgba(0,0,0,0) 82.1%
    );
}
#custom-mediaplayer.perc83-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 83.0%,
    rgba(0,0,0,0) 83.1%
    );
}
#custom-mediaplayer.perc84-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 84.0%,
    rgba(0,0,0,0) 84.1%
    );
}
#custom-mediaplayer.perc85-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 85.0%,
    rgba(0,0,0,0) 85.1%
    );
}
#custom-mediaplayer.perc86-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 86.0%,
    rgba(0,0,0,0) 86.1%
    );
}
#custom-mediaplayer.perc87-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 87.0%,
    rgba(0,0,0,0) 87.1%
    );
}
#custom-mediaplayer.perc88-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 88.0%,
    rgba(0,0,0,0) 88.1%
    );
}
#custom-mediaplayer.perc89-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 89.0%,
    rgba(0,0,0,0) 89.1%
    );
}
#custom-mediaplayer.perc90-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 90.0%,
    rgba(0,0,0,0) 90.1%
    );
}
#custom-mediaplayer.perc91-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 91.0%,
    rgba(0,0,0,0) 91.1%
    );
}
#custom-mediaplayer.perc92-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 92.0%,
    rgba(0,0,0,0) 92.1%
    );
}
#custom-mediaplayer.perc93-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 93.0%,
    rgba(0,0,0,0) 93.1%
    );
}
#custom-mediaplayer.perc94-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 94.0%,
    rgba(0,0,0,0) 94.1%
    );
}
#custom-mediaplayer.perc95-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 95.0%,
    rgba(0,0,0,0) 95.1%
    );
}
#custom-mediaplayer.perc96-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 96.0%,
    rgba(0,0,0,0) 96.1%
    );
}
#custom-mediaplayer.perc97-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 97.0%,
    rgba(0,0,0,0) 97.1%
    );
}
#custom-mediaplayer.perc98-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 98.0%,
    rgba(0,0,0,0) 98.1%
    );
}
#custom-mediaplayer.perc99-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 99.0%,
    rgba(0,0,0,0) 99.1%
    );
}
#custom-mediaplayer.perc100-0 {
    background-image: linear-gradient(
    to right,
    rgba(0, 255, 255,0.6) 100.0%,
    rgba(0,0,0,0) 100.1%
    );
}
